body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4c4747;
    padding: 20px 20px;
    color: white;
}

.main {
    padding: 20px 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}
.nav-link {
    display: flex;
    gap: 15px;
}
.nav-link a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.nav-link a:hover {
    color: #f0a500;
}

a.active {
    color: #f0a500;
    border-bottom: 2px solid #f0a500;
}

.container {
    max-width: 75%;
    margin: 40px auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
            margin-bottom: 20px;
    }
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 120px;
}
button {
    margin-top: 20px;
    padding: 12px 20px;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
